{% extends "base.html" %}

{% block content %}

<div style="
width:1400px;
min-height:700px;
margin:50px auto;
display:flex;
gap:30px;
color:white;
align-items:flex-start;
">

    <!-- LEFT SIDE -->

    <div style="
    width:280px;
    ">

        <div style="
        display:flex;
        background:#003B5C;
        padding:15px;
        border-radius:10px;
        margin-bottom:25px;
        border:1px solid #005B5C;
        ">

            <div style="
            width:90px;
            height:120px;
            background:#d9d9d9;
            margin-right:15px;
            border-radius:5px;
            ">
            </div>

            <div>

                <p style="margin-bottom:10px;">{Artwork title}</p>
                <p style="margin-bottom:10px;">{Artist}</p>
                <p style="margin-bottom:10px;">{Seller}</p>
                <p>{Price}</p>

            </div>

        </div>

        <button class="btn"
        style="
        width:100%;
        background:#005B5C;
        color:white;
        margin-bottom:10px;
        ">
            Contact Information
        </button>

        <button class="btn"
        style="
        width:100%;
        background:#005B5C;
        color:white;
        margin-bottom:10px;
        ">
            Payment Step
        </button>

        <button class="btn"
        style="
        width:100%;
        background:#005B5C;
        color:white;
        ">
            Review Step
        </button>

    </div>



    <!-- CONTACT -->

    <form method="POST">

        {% csrf_token %}

        <label>Street name</label>
        <input name = "street" class="form-control mb-3">

        <label>City</label>
        <input name="city" class="form-control mb-3">

        <label>Postal code</label>
        <input name="postal_code" class="form-control mb-3">

        <label>National ID</label>
        <input name="national_id" class="form-control mb-3">

        <select name="country" class="form-control">
            <option>Iceland</option>
            <option>Norway</option>
            <option>Sweden</option>
            <option>Denmark</option>
        </select>

        <button
        type="submit"
        class="btn"
        style="
        margin-top: 25px;
        width:150px;
        background:#005B5C;
        color:white;
        ">
            Next Step
        </button>


    </form>



    <!-- PAYMENT -->

    <div style="
    width:600px;
    min-height:470px;
    background:#003B5C;
    border-radius:10px;
    padding:25px;
    border:1px solid #005B5C;
    position:relative;
    ">

        <h3>Payment Information</h3>

        <hr>

<p style="
color:#A2C2D4;
margin-top:20px;
">
    Select payment method in the next step
</p>


        <a href="{% url 'finalize-bid-payment' %}"
        class="btn"
        style="
        position:absolute;
        bottom:-50px;
        right:25px;
        width:150px;
        background:#005B5C;
        color:white;
        ">

            Next Step

        </a>

    </div>

</div>

{% endblock %}