body{
    background-color: #F0E5D8;
}

.all-artwork-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    background-color: #001F3F;
}
.artwork-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #001F3F;
}

.artwork-info{
    background-color: #003B5C;
    color: #A2C2D4;
    width: 336px;
    height: 490px;
}

.profile-thumbnail{
    height: 100px;
    width: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid .5px gray;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.artwork-thumbnail{
    height: 347px;
    width: 276px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.artwork-images{
    background-color: #003B5C;
    width: 496px;
    height: 677px;
}

.artwork-info{
    color: #A2C2D4;
}

.nav-link{
    color: #A2C2D4;
}

.input-group{
    padding-left: 20px;
    padding-right: 20px;
    filter: drop-shadow(1px 2px 10px) !important;
}

.form-control{
    background-color: #A2C2D4;
    color: #005B5C;
    border: 2.5px solid #005B5C;
}

.input-group-text{
    background-color: #A2C2D4;
    border: 2.5px solid #005B5C;
}

.navbar-brand{
    color: #A2C2D4;
    font-weight: bold;
}

#navbar{
    background-color: #003B5C !important;
    border-bottom: 2.5px solid #005B5C !important;
    filter: drop-shadow(1px 3px 10px) !important;
}