body{
    background-color: #F0E5D8;
}

.all-artwork-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    background-color: #001F3F;
}
.artwork-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #001F3F;
}

.artwork-info{
    background-color: #003B5C;
    color: #A2C2D4;
    width: 336px;
    height: 490px;
}

.profile-thumbnail{
    height: 100px;
    width: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.artwork-thumbnail{
    height: 347px;
    width: 276px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.artwork-images{
    background-color: #003B5C;
    width: 496px;
    height: 677px;
}

.artwork-info{
    color: #A2C2D4;
}

#navbar{
    background-color: #003B5C !important;
    border-bottom: 2.5px solid #005B5C !important;
}