{% extends "base.html" %}

{% block content %}
    <div class="artwork-container">
        {% for artwork in artworks %}

            <div class="artwork-info">
                <a href="{% url "artwork-by-id" id=artwork.id %}">
                    <div class="artwork-thumbnail" style="background-image: url({{artwork.thumbnail}})"></div>
                    <h3>{{artwork.title}}</h3>
                    <p>{{ artwork.artist }}</p>
                </a>
            </div>

        {% endfor %}
    </div>
{% endblock %}