{% extends "base.html" %}

{% block content %}
    <h3>{{ artist.seller.user.name }}</h3>
    <p>{{ artist.seller.user.email }}</p>
    <p>{{ artist.seller.user.bio }}</p>
    <div class="all-artwork-container">
        {% for artwork in artworks %}
            <div class="artwork-info">
                <a href="{% url "artwork-by-id" id=artwork.id %}">
                    <div class="artwork-thumbnail" style="background-image: url('{{artwork.thumbnail}}')"></div>
                    <h3>{{artwork.title}}</h3>
                    <p>{{ artwork.artist.seller.user.name }}</p>
                </a>
            </div>

        {% endfor %}
    </div>
{% endblock %}
