{% extends "base.html" %}

{% block content %}
    <a href="javascript:history.back()">back</a>
    <div class="artwork-container">
        <div class="artwork-images">
            <div class="artwork-thumbnail" style="background-image: url('{{ artwork.thumbnail }}')"></div>
        </div>
        <div class="artwork-info">
            <h1>{{ artwork.title }}</h1>
            <p>By: {{ artwork.artist }}</p>
            <p>Medium: {{ artwork.medium }}</p>
            <p>Style: {{ artwork.style }}</p>
            <p>Starting bid:</p>
            <p>Dimensions: {{ artwork.dimensions }}</p>
            <p>Year of creation: {{ artwork.year_of_creation }}</p>
            <p>Edition: {{ artwork.edition }}</p>
            <p>Provenance: {{ artwork.provenance }}</p>
        </div>
        <div></div>
    </div>
{% endblock %}