{% extends "base.html" %}

{% block content %}
    <!-- TODO: make it look better -->
    <div class="artwork-container">
        <div class="artwork-images">
            <div class="artwork-thumbnail" style="background-image: url('{{ artwork.thumbnail }}')"></div>
        </div>
        <div class="artwork-info">
            <div>
                <h1>{{ artwork.title }}</h1>
                <p>By: {{ artwork.artist.seller.user.name }}</p>
                <p>Medium: {{ artwork.medium }}</p>
                <p>Style: {{ style.style }}</p>
                <p>Listing date: {{ artwork.listing_date }}</p>
                <p>Starting bid price: {{ artwork.start_bid_price }}</p>
                <p>Dimensions: {{ artwork.dimensions }}</p>
                <p>Year of creation: {{ artwork.year_of_creation }}</p>
                <p>Edition: {{ artwork.edition }}</p>
                <p>Provenance: {{ artwork.provenance }}</p>
            </div>
            <div>
                {% if artwork.bid_status == "Sold" %}
                    <p>Sold</p>
                {% elif artwork.bid_status == "Starting" %}
                    <form method="post">
                        {% csrf_token %}
                        <p>Minimum bid: {{ min_bid }}</p>
                        <input 
                            type="number"
                            name="bid_amount"
                            placeholder="Enter your bid"
                            min="{{ min_bid }}"
                            required
                        >

                        <button type="submit">
                            Submit Bid
                        </button>
                    </form>
                {% else %}
                    <form method="post">
                        {% csrf_token %}
                        <p>Minimum bid: {{ min_bid }}</p>
                        <input 
                            type="number"
                            name="bid_amount"
                            placeholder="Enter your bid"
                            min="{{ min_bid }}"
                            required
                        >

                        <button type="submit">
                            Resubmit Bid
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
        <div>
            <div class="profile-thumbnail" style="background-image: url('{{ artwork.seller.user.profile_image }}')"></div>
            <a href="{% url "seller_profile" id=artwork.seller.user.id %}">
                <p>Seller: {{ artwork.seller.user.name }}</p>
            </a>
        </div>
    </div>
{% endblock %}
