<nav class="navbar navbar-expand-lg" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url "homepage" %}">Art Vault</a>
        <div class="form-inline">
            <div class="navbar-nav">
                <a class="nav-link" href="{% url "all-artworks" %}">All Artworks</a>
                <a class="nav-link" href="{% url "all-artists" %}">All artist</a>
                {% if user.is_authenticated %}
                    <!-- TODO: add if statements to make finalize bid disabled if they have no bid to finalize -->
                    <a class="nav-link" aria-disabled="true" href="{% url "finalize-bid-index" %}">Finalize bids</a>
                    <li class="nav_item">
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="nav-link">Logout</button>
                        </form>
                    </li>
                    <a class="nav-link" aria-disabled="false" href="{% url "profile" %}">profile</a>
                {% else %}
                    <a class="nav-link disabled" aria-disabled="true" href="{% url "finalize-bid-index" %}">Finalize bids</a>
                    <li class="nav_item">
                        <a class="nav-link" href="{% url "register" %}">Register</a>
                    </li>
                    <li class="nav_item">
                        <a class="nav-link" href="{% url "login" %}">Login</a>
                    </li>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
